version: "3.9"
services:
  dev_container:
    build: .
    container_name: aas-http-client-devcontainer
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    networks:
      - bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"

  java_aas_server:
    image: eclipsebasyx/aas-environment:2.0.0-SNAPSHOT
    container_name: javaaasserver
    networks:
      - bridge
    ports:
      - '8075:8075'
    environment:
      - SERVER_PORT=8075
      - SERVER_HOST=javaaasserver

  basyx_dotnet_repo_server:
    image: engineeringmethodsag/fluid-basyx-dotnet-repo-server:latest
    container_name: dotnetaasserver
    networks:
      - bridge
    ports:
      - "5043:5043"

  python_aas_server:
    image:  engineeringmethodsag/fluid-basyx-python-aasx-server:latest
    container_name: pythonaasserver
    networks:
      - bridge
    ports:
      - "5080:80"
    environment:
      - API_BASE_PATH=/
      - STORAGE_TYPE=LOCAL_FILE_READ_ONLY
      - STORAGE_PATH=/storage
    volumes:
      - ./storage/python_server:/storage

networks:
  bridge:
